@font-face {
    font-family: 'Norse-Bold'
    src: url(../fonts/Norse-Bold.otf)
}

*, *::after *::before {
    padding: 0;
    border-box: 0;
    box-sizing: border-box;
}

$textsize: (
    "text": 18px,
    "header": 24px,
    "hero": 50px,
);

$textcolor: (
    "main": #333,
    "secondary": #aaa,
    "error": rgb(247, 81, 81),
    "button": rgb(232, 164, 39)
)
