@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

@font-face {
    font-family: 'Norse-Bold';
    src: url(../fonts/Norse-Bold.otf);
}


*, *::after *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

$textsize: (
    "text": 18px,
    "header": 24px,
    "hero": 100px,
);

$textcolor: (
    "main": #333,
    "secondary": #aaa,
    "error": rgb(247, 81, 81),
    "button": rgb(232, 164, 39),
    "white": rgb(230, 230, 230)
)
